.info-body {
  display: flex;
}

.info-body-sidebar {
  padding: 20px 0 0 0;
  float: left;
  height: 100%;
  width: 15%;
  line-height: 50px;

  /* font-size: 15px; */
}
.info-body-sidebar li {
  border-bottom: 1px solid rgba(194, 194, 194, 0.932);
}

.info-body-sidebar li {
  display: block;
  padding: 10px 10px 10px 30px;
}

.info-body-sidebar-button-group {
  padding: 0px 10px 10px;
  width: 100%;
  margin: auto;
}

.info-body-sidebar-button-group .btn {
  width: 100%;
}
.info-body-content {
  padding: 10px;
  float: right;
  width: 80%;
  margin-left: 2%;
  margin-right: 3%;
  overflow: auto;
}
